<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exceed Expectations</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl">Tactic Tablet</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            
          </ul>
        </div>
      </div>
      <div>
        <button data-toggle-theme="dark,light" data-act-class="ACTIVECLASS" class="btn btn-accent">switch theme</button>
      </div>
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Welcome Strategist!</h1>
            <p class="py-6">
              Your have joined the team!
            </p>
            <form method="post">
                <select name="unit_type" class="select select-bordered w-full max-w-xs">
                    <option>Zergling</option>
                    <option>Roach</option>
                    <option>Hydralisk</option>
                    <option>Ultralisk</option>
                </select>
                <div class="divider divider-primary"></div>
                <input class="btn btn-accent" type="submit" value="Send Instructions"></input>
            </form>
          </div>
        </div>
    </div>
</body>
</html>